#map {
    width: 700px;
    height: 500px;
}

.weather {
    display: flex;

    >div {
        width: 70%;
        height: 100vh;
    }

    >aside {
        width: 30%;
        height: 100vh;
        overflow-y: auto;
    }
}